.button{
		position:relative;
		border:1px solid #dfdfdf;
		padding:30px;
		
}
.button>a{
	color:white;
	text-decoration:none;
	background-color:#086afc;
	padding:10px 15px;
	margin-top:0px;
	display:inline-block;
	border-radius:5px;	
	top:50px;
	right:100px;
}
.dot{
	background-color:red;
	height:16px;
	width:30px;
	border-radius:45%;
	border:2px solid red;
	top:-48px;
	left:51px;
	position:relative;
}
.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
}
